* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: visible;
}

h1 {
    font-family: 'Dancing Script', sans-serif;
}

.carousel-item img {
    width: 100%;
    height: 80vh;
}

i {
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.card-body img{
    min-height: 50%;
    max-height: 200px;
}